.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body{
  background-image: url(stardew_background.png);
  background-color: #cccccc;
}
h1{
  font-family: 'stardew_valleyregular', Arial;
  font-weight:normal;
  font-style:normal;
  color: #cccccc;
}